absl-py==0.9.0
alabaster==0.7.10
anaconda-client==1.6.9
anaconda-navigator==1.7.0
anaconda-project==0.8.2
ansicolors==1.1.8
ansiwrap==0.8.4
appnope==0.1.0
arrow==0.15.5
asn1crypto==0.24.0
astor==0.8.1
astroid==1.6.1
astropy==2.0.3
attrs==17.4.0
awscli==1.15.12
awsebcli==3.14.6
Babel==2.5.3
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.0
bitarray==0.8.1
bkcharts==0.2
blaze==0.11.3
bleach==2.1.2
blessed==1.14.2
blis==0.2.4
bokeh==0.12.13
boto==2.48.0
boto3==1.9.66
botocore==1.12.66
Bottleneck==1.2.1
branca==0.3.1
browsercookie==0.7.5
bs4==0.0.1
bz2file==0.98
cached-property==1.4.2
cachetools==4.1.0
cement==2.8.2
certifi==2020.4.5.1
cffi==1.11.4
cftime==1.1.2
chainmap==1.0.3
chardet==3.0.4
click==6.7
cloudpickle==0.5.2
clyent==1.2.2
colorama==0.3.9
colour==0.1.5
combomethod==1.0.12
conda==4.8.3
conda-build==3.4.1
conda-package-handling==1.6.0
conda-verify==2.0.0
config==0.5.0.post0
configparser==5.0.0
contextlib2==0.5.5
contractions==0.0.21
cryptography==2.8
cssselect==1.1.0
cycler==0.10.0
cymem==2.0.2
Cython==0.27.3
cytoolz==0.9.0
dask==0.16.1
datashape==0.5.4
decorator==4.2.1
defusedxml==0.6.0
distributed==1.20.2
Django==1.10.5
django-cas-ng==3.6.0
django-dotenv==1.4.2
django-extensions==2.1.6
django-filter==2.2.0
django-harvardkey-cas==1.1.2
django-model-utils==3.2.0
django-polymorphic==2.0.3
djangorestframework==3.10.3
dnspython==1.16.0
docker==3.3.0
docker-compose==1.21.2
docker-pycreds==0.2.3
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
elasticsearch==6.2.0
elasticsearch-dsl==6.1.0
en-core-web-sm==2.1.0
entrypoints==0.2.3
et-xmlfile==1.0.1
eventlet==0.24.1
fastcache==1.0.2
filelock==2.0.13
fire==0.3.0
Flask==0.12.2
Flask-Admin==1.5.5
Flask-BabelEx==0.9.4
Flask-Cors==3.0.3
Flask-Login==0.5.0
flask-mongoengine==0.9.5
Flask-Scss==0.5
Flask-Session==0.3.1
Flask-SocketIO==3.3.2
Flask-SQLAlchemy==2.4.1
Flask-WTF==0.14.3
folium==0.10.0
funcy==1.14
future==0.18.2
gast==0.2.2
gensim==3.6.0
gevent==1.2.2
glob2==0.6
gmpy2==2.0.8
google-auth==1.14.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
greenlet==0.4.12
grpcio==1.28.1
gunicorn==20.0.4
h5py==2.7.1
heapdict==1.0.0
html5lib==1.0.1
idna==2.6
imageio==2.2.0
imagesize==0.7.1
importlib-metadata==0.23
intspan==1.6.1
ipaddress==1.0.22
ipykernel==4.8.0
ipyleaflet==0.11.3
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==4.2.15
itsdangerous==0.24
jdcal==1.3
jedi==0.11.1
Jinja2==2.10
jmespath==0.9.3
joblib==0.13.2
json5==0.8.5
jsonpickle==1.1
jsonschema==3.1.1
jupyter==1.0.0
jupyter-client==5.3.3
jupyter-console==5.2.0
jupyter-core==4.4.0
jupyterlab==1.1.4
jupyterlab-launcher==0.10.2
jupyterlab-server==1.0.6
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
keyring==19.2.0
kiwisolver==1.1.0
language-check==1.1
lazy-object-proxy==1.3.1
llvmlite==0.29.0
locket==0.2.0
lxml==4.1.1
lz4==2.1.10
Markdown==3.1.1
MarkupSafe==1.0
matplotlib==3.1.1
mccabe==0.6.1
mementos==1.3.1
mistune==0.8.3
mlxtend==0.14.0
mongoengine==0.19.1
monotonic==1.5
more-itertools==7.2.0
mpmath==1.0.0
msgpack-python==0.5.1
multipledispatch==0.4.9
murmurhash==1.0.2
mysqlclient==1.4.4
navigator-updater==0.1.0
nbconvert==5.6.0
nbformat==4.4.0
netCDF4==1.5.3
networkx==2.1
nltk==3.2.5
nmf==0.0.6
nose==1.3.7
notebook==6.0.1
nulltype==2.3.1
numexpr==2.6.4
numpy==1.17.0
numpydoc==0.7.0
oauthlib==3.1.0
odo==0.5.1
olefile==0.45.1
openpyxl==2.4.10
opt-einsum==3.2.1
options==1.4.10
packaging==16.8
pandas==0.22.0
pandocfilters==1.4.2
parse==1.15.0
parso==0.1.1
partd==0.3.8
path.py==10.5
pathlib2==2.3.0
pathspec==0.5.5
patsy==0.5.0
pep8==1.7.1
pexpect==4.3.1
pickleshare==0.7.4
Pillow==6.2.1
pipenv==2018.11.26
pkginfo==1.4.1
plac==0.9.6
plotly==3.4.2
pluggy==0.6.0
ply==3.10
preshed==2.0.1
progress==1.4
progressbar2==3.39.2
prometheus-client==0.7.1
prompt-toolkit==1.0.15
protobuf==3.11.3
psutil==5.4.3
psycopg2==2.8.5
psycopg2-binary==2.7.7
ptyprocess==0.5.2
py==1.5.2
pyahocorasick==1.4.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.3.1
pycontractions==2.0.1
pycosat==0.6.3
pycparser==2.18
pycrypto==2.6.1
pycurl==7.43.0.3
pyemd==0.5.1
pyflakes==1.6.0
Pygments==2.2.0
PyJWT==1.7.1
pyLDAvis==2.1.2
pylint==1.8.2
pymongo==3.10.1
pyndl==0.7.0
pyodbc==4.0.22
pyOpenSSL==17.5.0
pyparsing==2.2.0
pyquery==1.4.1
pyrsistent==0.15.4
pyScss==1.3.5
PySocks==1.6.7
pytest==3.3.2
python-cas==1.4.0
python-dateutil==2.6.1
python-dotenv==0.8.2
python-engineio==3.4.3
python-http-client==3.1.0
python-social-auth==0.3.6
python-socketio==3.1.2
python-utils==2.3.0
python3-openid==3.1.0
pytz==2018.4
PyWavelets==0.5.2
pywebcopy==6.2.0
pywsd==1.2.3
PyYAML==3.12
pyzmq==18.1.1
QtAwesome==0.4.4
qtconsole==4.3.1
QtPy==1.3.1
requests==2.22.0
requests-oauthlib==1.2.0
retrying==1.3.3
rope==0.10.7
rsa==3.4.2
ruamel-yaml==0.15.35
s3transfer==0.1.13
say==1.6.6
scikit-image==0.13.1
scikit-learn==0.21.2
scikit-multilearn==0.2.0
scipy==1.4.1
semantic-version==2.5.0
Send2Trash==1.4.2
sendgrid==5.6.0
simplegeneric==0.8.1
simplere==1.2.13
singledispatch==3.4.0.3
six==1.14.0
sklearn-hierarchical-classification==1.0.0
smart-open==1.7.1
snowballstemmer==1.2.1
social-auth-core==3.2.0
sortedcollections==0.5.3
sortedcontainers==1.5.9
spacy==2.1.8
speaklater==1.3
Sphinx==1.6.6
sphinxcontrib-websupport==1.0.1
spyder==3.2.6
SQLAlchemy==1.2.1
SQLAlchemy-Utils==0.36.1
sqlparse==0.3.0
srsly==0.0.7
stanfordnlp==0.2.0
statsmodels==0.8.0
sympy==1.1.1
tables==3.4.2
tablib==1.0.0
tabulate==0.7.5
tblib==1.3.2
tensorboard==2.1.1
tensorflow==2.1.0
tensorflow-estimator==2.1.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
textblob==0.15.3
textdata==2.4.1
textsearch==0.0.17
texttable==0.9.1
textwrap3==0.9.2
thinc==7.0.8
tika==1.19
timeout-decorator==0.4.1
toolz==0.9.0
torch==1.4.0
tornado==6.0.3
tqdm==4.36.1
traitlets==4.3.2
traittypes==0.2.1
unicodecsv==0.14.1
Unidecode==1.1.1
urllib3==1.22
virtualenv==16.0.0
virtualenv-clone==0.5.3
w3lib==1.21.0
wasabi==0.2.2
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.48.0
Werkzeug==0.14.1
widgetsnbextension==3.5.1
wn==0.0.22
wordnet==0.0.1b2
wrapt==1.12.1
WTForms==2.2.1
xarray==0.13.0
xlrd==1.1.0
XlsxWriter==1.0.2
xlwings==0.11.5
xlwt==1.2.0
zict==0.1.3
zipp==0.6.0
